body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Roboto', serif;
}

.content {
    border: solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: grey;
}

.calculator {
    height: 500px;
    width: 600px;
    border: solid black;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    border-radius: 12px;
}

.screen {
    height: 20%;
    border: solid black;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    font-size: 32px;
    border-radius: 12px;
    background-color: lightgrey;
}

.lower-half {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
    gap: 16px;
}

button {
    border-radius: 12px;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color: slategrey;
}

#clear {
    background-color: red;
    color: white;
}

#clear:hover {
    background-color: darkred;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.digit-div {
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    padding: 8px;
    
}

.digit {
    flex: 1;
}

#zero {
    flex: 1
}

.operations {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}


.operation-div {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    padding: 8px;
}


.operation-div button {
    flex: 1;
}

#operate-div {
    flex: 1;
}
